/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono&family=Rubik+Marker+Hatch&display=swap');

.title{
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 4em;
  text-align: center;
}

.switchWrapper{
  display: flex;
  font-family: 'Roboto Mono', monospace;
  align-items: center;
  gap: 6px;
}

.displayBoxWrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;

}

.display {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
  align-items: center;
}

.choiceDisplayBox{
  width: 100%;
  height: 100%;
  border: solid black 4px;
  text-align: center;
  padding-top: 30%;
}

.versusBox{
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  min-width: 200px;
  gap: 8px;
}

.startButton{
  width: 20%;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  border: solid black 2px;
}

.startButton:hover{
  background-color: #cdcdcdd3;
  cursor: pointer;
}
.controls{
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  gap: 16px;
  align-items: center;
}

.buttonBox{
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 16px;;
}

.scoreboard{
  margin-top: 8px;
  font-size: .5em;
  text-align: center;
}
.smallText{
  font-size: .5em;
}

.roundTimeBar div {
  width: 50%;
  margin: 16px auto;
  height: 5px;
  background: linear-gradient(to bottom, red, #900);
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
  transform-origin: left center;
}

@keyframes roundtime {
  to{
    transform: scaleX(0);
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#win-modal{
  display: block;
  position: fixed;
  float: left;
  left: calc(50% - 150px);
  bottom: 50%;
  background-color: #ffffff;
  translate: (-50%,-50%);
  width: 300px;
  height: auto;
  min-height: 100px;
  text-align: center;
  border: 4px solid #000000;
  font-family: "Roboto Mono", monospace;
}

#reset{
  font-family: "Roboto Mono", monospace;
  background-color: white;
  border: solid black 2px;
  padding: 5px 25px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 1em;
}

#reset:hover{
  background-color: #cdcdcdd3;
  cursor: pointer;
}

.hidden {
  display: none !important;
}


input + .slider {
  background-color: #2196F3;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(62px);
  -ms-transform: translateX(62px);
  transform: translateX(62px);
}

.modalTitle{
  font-size: 1.5em;
  min-height: 50px;
  margin-top: 6px;
  font-family: "Roboto Mono", monospace;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Adding text in the toggle button */
.switch .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.switch .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch input:checked~.labels::after {
  opacity: 0;
}

.switch input:checked~.labels::before {
  opacity: 1;
}
